<div id="jokes-list">
  <% sort_type_plural = @sort_type + "s" %>

  <div id="sort_type_radio" class="radio_button" >
  		<h2> Leaderboard: </h2>
  		<form>
  			<%= leaderboard_radio_buttons ["joke", "user"], @sort_type, "sort_type" %>
		</form>
  </div>

  <br/>

  <div id="sort" class="radio_button">
  		<h3> Sort Type: </h3>
  		<form id="sort_form">
  			<% if @sort_type == "user" %>
  				<%= leaderboard_radio_buttons ["top", "bottom", "most", "newest"], @sort, "sort" %>
  			<% else %>
  				<%= leaderboard_radio_buttons ["top", "bottom", "newest"], @sort, "sort" %>
  			<% end %>
		</form>
  </div>

  <br/>

  <%if @sort != "newest" %>
	  <div id="time" class="radio_button">
	  		<h3> Time Frame: </h3>
	  		<form>
	  			<% if @sort == "most" %>
	  				<%= leaderboard_radio_buttons ["today", "week", "month", "all-time"], @time, "time" %>
	  			<% else %>
	  				<%= leaderboard_radio_buttons ["today", "week", "month", "all-time"], @time, "time" %>
	  			<% end %>
			</form>
	  </div>
  <% end %>

  <br/>

  <script type="text/javascript">
  $(function() {
	  	enrich_leaderboards();
	  });
  </script>
  
  
  <div id="leaderboard">
  	<%= render :partial => "leaderboard", :locals => {:sort => @sort, :sort_type => @sort_type, :time => @time, :users => @users, :jokes => @jokes, :sort_type_plural => @sort_type_plural} %>
  </div>
</div>