<%= form_for(@alternate_punchline, :url => joke_alternate_punchlines_path) do |f| %>
  <% if current_user.nil? %>
    <div id="error_explanation" title="Sign in to get credit for jokes and alternate punchlines written, to show up on the User leaderboards and to vote on other users' Jokes and Alternate Punchlines.">
      You are not signed in; you will not get any credit for this alternate punchline!  
    </div>
    <script type="text/javascript">
      $('#error_explanation').qtip({
          style: {
            classes: 'ui-tooltip-rounded ui-tooltip-shadow',
            width: "200px"
          },    
          position:{
            my: 'bottom right',
            at: 'top left',
            target: $('#error_explanation')
          }   
        });
    </script>
  <% end %>
  <% if @alternate_punchline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternate_punchline.errors.count, "error") %> prohibited this alternate punchline from being saved:</h2>

      <ul>
      <% @alternate_punchline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= @joke.question %></strong>
    <br/>
    <%= f.label :punchline, "Your new punchline" %>
    <%= f.text_field :punchline %>    
  </div>
  <div class="actions">
    <%= f.submit "Add new punchline" %>
  </div>
<% end %>