<% if @alternate_punchlines %>
  <% @alternate_punchlines.each_index do |index| %>
   <% ap = @alternate_punchlines[index] %>
    <p class="punchline">
   <% if index%2 == 0 %>
     <% if ap.user %>
        <%= link_to image_tag(ap.user.image_url, :size => "48x48"), ap.user, :class=>"avatar avatar-left fork-avatar qtip-user", :title => user_name(ap.user), "data-user-id" => ap.user.id, "data-include-avatar" => "false" %>
      <% else %>
        <%= image_tag anon_user_icon, :size => "48x48", :class => "avatar avatar-left fork-avatar avatar-anon avatar-anon-fork", :title => "Anonymous author" %>   
      <% end %>    
      <span class="bubble-fork bubble"></span>
    <% end %>
      <%= ap.punchline %>
    <% if index%2 == 1 %>
     <span class="bubble-fork bubble-right"></span>
     <% if ap.user %>
        <%= link_to image_tag(ap.user.image_url, :size => "48x48"), ap.user, :class=>"avatar avatar-right fork-avatar qtip-user", :title => user_name(ap.user), "data-user-id" => ap.user.id, "data-include-avatar" => "false" %>
      <% else %>
        <%= image_tag anon_user_icon, :size => "48x48", :class => "avatar avatar-right fork-avatar avatar-anon avatar-anon-fork", :title => "Anonymous author" %>   
      <% end %>    
    <% end %>
    </p>
    <p class="share">  
      <span class="left">
         <%= render :partial => "shared/votes", :locals => {:joke => ap, :upvote_path => upvote_joke_alternate_punchline_path(ap.joke, ap), :downvote_path => downvote_joke_alternate_punchline_path(ap.joke, ap), :id => "ap_#{ap.id}"} %>
        </span>
    </p>
  <% end %>
  <script>
    enable_user_qtips();
  </script>
<% else %>
<p> Sorry, no alternate punchlines for this joke.</p>
<% end %>
