<% if @alternate_punchlines %>
  <% @alternate_punchlines.each do |ap| %>
    <p class="punchline">
      <%= ap.punchline %>
    </p>	
    <p class="share">  
      <span class="left">
         <%= render :partial => "shared/votes", :locals => {:joke => ap, :upvote_path => upvote_joke_alternate_punchline_path(ap.joke, ap), :downvote_path => downvote_joke_alternate_punchline_path(ap.joke, ap), :id => "ap_#{ap.id}"} %>
        </span>
        <span class="right">
        <% if ap.user %>	  
        written by <%= link_to image_tag(ap.user.image_url, :size => "23x23"), ap.user %> <%= link_to user_name(ap.user), ap.user %> via <%=ap.user.provider.capitalize %>		
        </span>
      <% end %>
    </p>
  <% end %>
<% else %>
<p> Sorry, no alternate punchlines for this joke.</p>
<% end %>