<% if @user.provider == "facebook" %>
	<% image = image_tag("fb-logo.png", :size => "12x12")%>
<% else %>
	<% image = image_tag("twitter-logo.png", :size => "12x12")%>
<% end %>

<% if @include_avatar %>
	<div class="user_qtip">
	  <%= image_tag(@user.image_url, :size => "60x60", :title => user_name(@user), :class=>"avatar avatar_qtip") %>
<% else %>
	<div class="user_qtip_no_avatar">
<% end %>
  <span class="qtip_author" ><strong><%= user_name(@user) %> <%= image %></strong><br/></span>

<div "user_qtip_text" >
<span class="qtip_jokes"><b>Authored Jokes: </b><%= @user.jokes_count %><br/> </span>
<% if @user.jokes_count > 0 %>
	<scpan class="qtip_score"><b>Total Score: </b><%= @user.total_joke_score %><br/> </span>
<% end %>
<span class="qtip_forks"><b>Forks: </b><%= @user.fork_count %> <%= image_tag("../stylesheets/arrow_divide_down.png", :size => "12x12", :class=>"tip_image")%><br/></span>
<span class="qtip_favorites"><b>Favorited Jokes: </b><%= @user.favorite_count %> <%= image_tag("../stylesheets/favorited.png", :size => "12x12", :class=>"tip_image")%><br/></span>
<span class="qtip_date"><b>Since: </b> <%= @user.created_at.strftime("%b %d, %Y")%></span>
</div>
</div>