<script>
  $(function() {
    // jQuery UI tabs
      $( "#tabs" ).tabs({
        cache: true,
        load: function (e, ui) {
          $(ui.panel).find("#loading").remove();
        },
        select: function (e, ui) {
         var $panel = $(ui.panel);

         if ($panel.is(":empty")) {
             $panel.append("<div id='loading'>Loading Feed...</div>");
         }
        }
    });
  });
</script>

<div id="user">  
  <p id="user-info"><%= link_to image_tag(@user.image_url, :size => "48x48"), @user.url %> <strong><%=link_to user_name(@user), @user.url,  "data-user-id" => @user.id, "data-include-avatar" => "false", :class => "qtip-user"%></strong> (via <%=@user.provider.capitalize%>)</p>
  
  <div id="tabs">
    <ul>
      <li><a href="#jokes">Authored Jokes List</a></li>
      <li><a href='<%=feed_user_path(@user)+"?type=authored&index=0"%>'>Authored Jokes Feed</a></li>
      <li><a href="#favorites">Favorites List</a></li>
      <li><a href='<%=feed_user_path(@user)+"?type=favorite_jokes&index=0"%>'>Favorites Feed</a></li>
      <li><a href="#forks">Forks List</a></li>
      <li><a href='<%=feed_user_path(@user)+"?type=forked_jokes&index=0"%>'>Forks Feed</a></li>
    </ul>
    <div id="jokes">
      <%= render :partial => "users/jokes", :locals => {:user => @user, :jokes => @jokes} %>
    </div>
    <div id="favorites">
      <%= render :partial => "users/favorites", :locals => {:user => @user, :favorite_jokes => @favorite_jokes} %>
    </div>
    <div id="forks">
      <%= render :partial => "users/forks", :locals => {:user => @user, :forked_jokes => @forked_jokes} %>
    </div>
  </div>
</div>


