<script>
  $(function() {
    // jQuery UI tabs
    $( "#tabs" ).tabs();
  });
</script>

<div id="user">  
  <p id="user-info"><%= link_to image_tag(@user.image_url, :size => "48x48"), @user.url %> <strong><%=link_to user_name(@user), @user.url,  "data-user-id" => @user.id, "data-include-avatar" => "false", :class => "qtip-user"%></strong> (via <%=@user.provider.capitalize%>)</p>
  
  <div id="tabs">
    <ul>
      <li><a href="#jokes">Jokes</a></li>
      <li><a href="#favorites">Favorites</a></li>
      <li><a href="#forks">Forks</a></li>
    </ul>
    <div id="jokes">
      <%= render :partial => "users/jokes", :locals => {:user => @user, :jokes => @jokes} %>
    </div>
    <div id="favorites">
      <%= render :partial => "users/favorites", :locals => {:user => @user, :favorite_jokes => @favorite_jokes} %>
    </div>
    <div id="forks">
      <%= render :partial => "users/forks", :locals => {:user => @user, :forked_jokes => @forked_jokes} %>
    </div>
  </div>
</div>


