<div id="notice"><%= notice %></div>
<p id="question" class="question">
  <%= joke.question %>
</p>
<p id="click-for-punchline">(click for the punchline)</p>
<p id="answer" class="answer">
  <%= joke.answer %>
</p>
<p id="share"><span class="left">Share with friends! | <%= link_to "Permalink", url_for (:action => "show", :controller => "jokes", :id => joke.id, :only_path => false) %> | <iframe src="http://www.facebook.com/plugins/like.php?app_id=168063983260429&amp;href=<%=CGI.escape(url_for (:action => "show", :controller => "jokes", :id => joke.id, :only_path => false))%>&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe> | <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%=url_for (:action => "show", :controller => "jokes", :id => joke.id, :only_path => false)%>" data-text="<%=joke.question%>" data-count="horizontal" data-via="jokelscom">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
<span class="right"><% if joke.user %>
  written by <%= link_to image_tag (joke.user.image_url, :size => "23x23"), joke.user %> <%= link_to user_name(joke.user), joke.user %> via <%=joke.user.provider.capitalize %>
<% end %></span>
<p id="refresh-joke"><%= link_to "(click for a random joke)", refresh_joke_home_path, :id=>"joke", :method => :get, :remote => true%>
</p>
