<div data-role="collapsible" data-content-theme="c" data-iconpos="right" data-collapsed="false" data-icon="none" id="jokel_block" data-content-theme="d">
   <h3><span id="jokel_title">Jokel <% if joke.user %> by <%= user_name(joke.user) %><% end %></span></h3>
   <p id="jokel_question"><%= joke.question %></p>
   <div data-role="collapsible-set" data-content-theme="c">
   	 <div data-role="collapsible" data-collapsed="true" data-content-theme="d" data-iconpos="right" id="punchline_div">
		<h3>Punchline!</h3>
		<p id="jokel_answer"><%= joke.answer %></p>
	 </div>  
     <% joke.alternate_punchlines.each_with_index do |alt_punchline, index| %>
		<div data-role="collapsible" data-iconpos="right" data-collapsed="true" data-content-theme="d" >
			<h3>Alternate Punchline <% if joke.alternate_punchlines.count > 1 %>#<%= index+1%><% end %></h3>
			<p><%= alt_punchline.punchline %> <%if alt_punchline.user %> <strong><br/><br/>-by <%= user_name(alt_punchline.user)%></strong><% end %></p>
		</div>
     <% end %>
   </div>
   	<a id="random_joke" href="#" data-role="button" data-icon="refresh" data-iconpos ="right">Random Joke</a>
   	<%if joke.user %> <%= link_to "Author Profile", joke.user, "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right" %> <% end %>
</div>