<%= form_for(@favorite_joke) do |f| %>
  <% if @favorite_joke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_joke.errors.count, "error") %> prohibited this favorite_joke from being saved:</h2>

      <ul>
      <% @favorite_joke.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :joke_id %><br />
    <%= f.text_field :joke_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
