<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @favorite_joke.user_id %>
</p>

<p>
  <b>Joke:</b>
  <%= @favorite_joke.joke_id %>
</p>


<%= link_to 'Edit', edit_favorite_joke_path(@favorite_joke) %> |
<%= link_to 'Back', favorite_jokes_path %>
