<%= form_for(@joke) do |f| %>
  <% if @current_user.nil? %>
    <div id="error_explanation" title="Sign in to get credit for jokes and alternate punchlines written, to show up on the User leaderboards and to vote on other users' Jokes and Alternate Punchlines.">
      You are not signed in; you will not get any credit for this joke!  
    </div>
    <script type="text/javascript">
      $('#error_explanation').qtip({
          style: {
            classes: 'ui-tooltip-rounded ui-tooltip-shadow',
            width: "200px"
          },    
          position:{
            my: 'bottom right',
            at: 'top left',
            target: $('#error_explanation')
          }   
        });
    </script>
  <% end %>
  <% if @joke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joke.errors.count, "error") %> prohibited this joke from being saved:</h2>

      <ul>
      <% @joke.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question, "The setup..." %>
    <%= f.text_field :question %>
    <br/>
    <%= f.label :answer, "Punchline!" %>
    <%= f.text_field :answer %>
    <% if current_user && !current_user.token.nil? %>
      <br/>
      <%= f.check_box :auto_post %> <%=f.label :auto_post, (current_user.provider == "facebook" ? "Automatically post your joke to Facebook?" : "Automatically tweet your joke?") %> 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Add joke" %>
  </div>
<% end %>
