<%= form_for(@joke) do |f| %>
  <% if @joke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joke.errors.count, "error") %> prohibited this joke from being saved:</h2>

      <ul>
      <% @joke.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question, "The setup..." %>
    <%= f.text_field :question %>
    <br/>
    <%= f.label :answer, "Punchline!" %>
    <%= f.text_field :answer %>
    <% if current_user && !current_user.token.nil? %>
      <br/>
      <%= f.check_box :auto_post %> <%=f.label :auto_post, (current_user.provider == "facebook" ? "Automatically post your joke to Facebook?" : "Automatically tweet your joke?") %> 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Add joke" %>
  </div>
<% end %>
