<div class="joke_qtip"><% if @joke.user %>
  <% if @joke.user.provider == "facebook" %>
	<% image = image_tag("fb-logo.png", :size => "12x12")%>
  <% else %>
	<% image = image_tag("twitter-logo.png", :size => "12x12")%>
  <% end %>
  <%= image_tag(@joke.user.image, :size => "60x60", :title => user_name(@joke.user), :class=>"avatar avatar_qtip") %>
  <span class="qtip_author" ><strong>By <%= user_name(@joke.user) %></strong> <%= image %><br/></span>
<% else %>
  <%= image_tag anon_user_icon, :size => "48x48", :class => "avatar avatar_qtip", :title => "Anonymous author" %>
  <span class="qtip_author" ><strong>Anonymous Author</strong><br/></span>
<% end %>
<div "joke_qtip_text" >
<span class="qtip_votes"><b>Score: </b><%= @joke.votes %> (<%= @joke.up_votes %><%= image_tag("arrow_up.png",:size => "12x12") %><%= @joke.down_votes %><%= image_tag("arrow_down.png",:size => "12x12") %>)<br/> </span>
<span class="qtip_forks"><b>Forks: </b><%= @joke.forks_count(is_clean_mode?) %> <%= image_tag("arrow_divide_down.png", :size => "12x12", :class=>"tip_fork")%><br/><b>Favorites: </b><%= @joke.favorite_count %> <%= image_tag("favorited.png", :size => "12x12", :class=>"tip_favorite")%></span><br/>
<span class="qtip_date"><b>Created: </b> <%= @joke.created_at.strftime("%b %d, %Y")%></span>
</div>
</div>
