<div id="footer">
  <div class="container">
    <p class="text-muted">
       Jokels is so beta. <%=link_to image_tag("twitter-logo.png", :size => "16x16"), "http://twitter.com/jokelscom", :title => "@jokelscom on Twitter" %> <%=link_to image_tag("fb-logo.png", :size => "16x16"), "https://www.facebook.com/jokelscom", :title => "Jokels on Facebook" %> <%= link_to (image_tag "github-icon.png", :size => "16x16"), "http://www.github.com/sylturner/jokels", :title => "Jokels source code on Github" %>
      <a href="https://plus.google.com/106783736083786155127?prsrc=3" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" alt="" style="border:0;width:16px;height:16px;" title="Jokels on Google+"/></a> <%= link_to (image_tag "jokeler.jpg", :size => "16x16"), "http://jokeler.tumblr.com/", :title => "The Jokeler" %> <%=link_to image_tag("feed.png"), feed_path %><br/>
       <%= link_to "Jokels Blog", "http://blog.jokels.com" %> | <%= link_to "All jokes", jokes_path %> | <%= link_to "Auto-Jokels", kiosk_mode_home_path(:delay => 7500) %> | <%=link_to "Privacy", privacy_policy_home_path, rel: "nofollow" %>
    </p>
  </div>
</div>
