<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="jokels-title" class="navbar-brand" href="/">jokels</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--<li class="navbar-text" title="Let this random word/phrase/concept help inspire your jokes">Today's inspiration: <%= daily_word %></li> -->
        <!-- <a type="button" class="btn navbar-btn btn-default" href="<%= tags_path %>"><span class="glyphicon glyphicon-tags"></span> Tags</a> -->
        <!-- <li><%= link_to "Leaderboards", leaderboard_path %></li> -->
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-dropdown"><%= image_tag(current_user.image, size: "40x40", class: "img-circle") %> <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header"><%= current_user.user_name %></li>
              <li><%= link_to "View profile", current_user %></li>
              <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
              <% if !current_user.nil? && current_user.is_admin %>
                <li><%= link_to "Administration", "/admin/" %></li>
              <% end %>
              <li role="presentation" class="divider"></li>
              <li><%= link_to "Sign Out", signout_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/auth/twitter" rel="nofollow">Twitter</a></li>
              <li><a href="/auth/facebook" rel="nofollow">Facebook</a></li>
              <li><a href="/auth/persona" rel="nofollow">Persona</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <a type="button" class="navbar-btn btn btn-success navbar-right" href="<%= add_joke_home_path %>"><span class="glyphicon glyphicon-plus-sign"></span> Add new joke</a>
    </div>
  </div>
</div>
