<!DOCTYPE html>
<html>
<head>
  <title>Jokels</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "/javascripts/jquery.min.js","/javascripts/jquery-ui.min.js","/javascripts/application.js" %>
  <%=javascript_include_tag 'rails'%>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Chewy&v1' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">

    <div id="header">
      <div class="left">
        <a href="/"><h1>jokels</h1></a>
      </div>
      <div class="right">
        <%= link_to "Add joke", add_joke_home_path %>
      </div>
    </div>

    <div id="main">  
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>

  <div id="footer">
    Jokels is so beta.<br/>
    <a href="http://twitter.com/jokelscom">Twitter</a>
  </div>
</body>
</html>
