<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= stylesheet_link_tag "/stylesheets/styles.css" %>
  <%= stylesheet_link_tag "/stylesheets/jquery.qtip.css" %>
  <%= stylesheet_link_tag "/stylesheets/smoothness/jquery-ui-1.8.14.custom.css"%>
  <%= javascript_include_tag "/javascripts/jquery.min.js","/javascripts/jquery-ui.min.js","/javascripts/application.js","/javascripts/jquery.qtip.min.js" %>
  <%=javascript_include_tag 'rails'%>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Chewy&v1' rel='stylesheet' type='text/css'>
  <!-- facebook crap -->
  <meta property="og:title" content="Jokels" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://jokels.com" />
  <meta property="og:image" content="http://i.imgur.com/5nNRs.jpg" />
  <meta property="og:site_name" content="Jokels" />
  <meta property="fb:admins" content="75400017" />
  <meta name="description" content="<%=@meta_description%>"/>
  
  <!-- social media scripts -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>

  <!-- SOPA protest --> 
  <script type="text/javascript">var a=new Date,b=a.getUTCHours();if(0==a.getUTCMonth()&&2012==a.getUTCFullYear()&&((18==a.getUTCDate()&&13<=b)||(19==a.getUTCDate()&&0>=b)))window.location="http://sopastrike.com/strike";</script>

  
  <%= auto_discovery_link_tag(:atom, {:controller => "jokes", :action => "feed"}) %>

</head>
<body>
  <div id="fb-root"></div>
  <div id="add-joke"></div>
  <div id="add-alternate-punchline"></div>    
  <div id="why"><p>Logging in with Twitter or Facebook will give you credit for your jokes! You can still submit your terribly embarrassing ones anonymously, if you'd like.</p><p>The Twitter and Facebook apps only require your basic account information. All we use is your name, url, and picture to give you credit for your hard work writing jokes. Jokels will not post anything to your accounts without your approval immediately prior to posting.</p></div>
  <div class="wrapper">

    <div id="header">
      <div class="left">
        <a href="/"><h1>jokels</h1></a><%if Rails.env == "development"%> - dev <% end %>
      </div>
      <div class="right">
        <% if current_user %>
          Welcome <%=link_to user_name(current_user), current_user %> |
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          Sign in with <a href="/auth/twitter">Twitter</a> or <a href="/auth/facebook">Facebook</a> (<a href="#" id="question-mark">?</a>)
        <% end %>
        <br/>
        <%= link_to "Add new joke", add_joke_home_path, :method => :get, :remote => true, :class=>"add-joke-button" %> | <%= link_to "Leaderboards", leaderboard_path %>
        <br/>
        <% if daily_word %>
          <span id="daily-inspiration" title="Let this random word/phrase/concept help inspire your jokes" style="cursor:help">Today's inspiration: <%= daily_word %></span>
          <% end %>
        
      </div>
    </div>

    <div id="main">  
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>

  <div id="footer">
    <div class="left">
    Jokels is so beta. | <%= link_to "All jokes", jokes_path %> | <%=link_to "Privacy", privacy_policy_home_path %> <% if is_mobile_device? %> | <%= link_to "Mobile Version", "/mobile_version"%> <% end%> <br/> 
    Check out our <a href="http://twitter.com/jokelscom">Twitter</a> | <a href="https://www.facebook.com/pages/Jokels/180394185353937">Facebook</a> | <a href="http://jokeler.tumblr.com/">The Jokeler</a> 
    </div>
    <div class="right" id="share-site">      
      <span class="bottom-fb-button"><fb:like href="http://jokels.com" send="false" show_faces="false" layout="button_count" font=""></span>
      <span class="bottom-tweet-button"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://jokels.com" data-text="Jokels!" data-count="horizontal" data-via="jokelscom">Tweet</a></span>
      <span class="button-gplus-button"><g:plusone size="medium" href="http://jokels.com"></g:plusone></span>
    </div>
  </div>
  <%- if Rails.env == "production" -%>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2861444-5']);
    _gaq.push(['_setDomainName', 'jokels.com']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script type="text/javascript">
  sAId = "218";
  sCId = "1026";
  
  (function() {
    function async_load(){
      var s = document.createElement('script'); s.type = 'text/javascript';
      s.src = (('https:' == document.location.protocol) ? "https://ssl" : "http://cdn") + ".spectate.com/s.js";
      var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
    }
    if(window.attachEvent) { window.attachEvent('onload', async_load); }
    else { window.addEventListener('load', async_load, false); }
  })();
</script>
  <%- elsif Rails.env == "development" %>
    <!-- No analytics in development -->
  <%- end -%>
</body>
</html>
