<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
  <%= stylesheet_link_tag "/stylesheets/styles.mobile.css"%>

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js" > </script>
  <%= javascript_include_tag "/javascripts/application.js" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Chewy&v1' rel='stylesheet' type='text/css'>
  <!-- facebook crap -->
  <meta property="og:title" content="Jokels" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://jokels.com" />
  <meta property="og:image" content="http://i.imgur.com/5nNRs.jpg" />
  <meta property="og:site_name" content="Jokels" />
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

</head>
<body>
	<div data-role="page">

		<div id="header" data-role="header">
		<h1><a href="/">Jokels</a><%if Rails.env == "development"%> - dev <% end %></h1>
		</div>

		<div data-role="content" class="wrapper">
	      <%= yield %>
		</div>

		<div data-role="footer" class="ui-bar" data-position="fixed">
			<div data-role="controlgroup" data-type="horizontal">
				<a href="/" data-role="button" data-icon="home" data-ajax="false">Home</a>
				<%= link_to "All jokes", jokes_path %>
				<a href="/full_version" data-role="button" data-ajax="false">Full Version</a>
			</div>
		</div>

	</div>
	
  <%- if Rails.env == "production" -%>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2861444-5']);
    _gaq.push(['_setDomainName', 'jokels.com']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script type="text/javascript">
  sAId = "218";
  sCId = "1026";
  
  (function() {
    function async_load(){
      var s = document.createElement('script'); s.type = 'text/javascript';
      s.src = (('https:' == document.location.protocol) ? "https://ssl" : "http://cdn") + ".spectate.com/s.js";
      var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
    }
    if(window.attachEvent) { window.attachEvent('onload', async_load); }
    else { window.addEventListener('load', async_load, false); }
  })();
</script>
  <%- elsif Rails.env == "development" %>
    <!-- No analytics in development -->
  <%- end -%>
</body>
</html>
