<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
  <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" />
  <%= stylesheet_link_tag "/stylesheets/styles.mobile.css"%>
  <%= javascript_include_tag "/javascripts/application.mobile.js" %>

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js" > </script>
  <script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog2.min.js"></script>
  
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Chewy&v1' rel='stylesheet' type='text/css'>
  <!-- facebook crap -->
  <meta property="og:title" content="Jokels" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://jokels.com" />
  <meta property="og:image" content="http://i.imgur.com/5nNRs.jpg" />
  <meta property="og:site_name" content="Jokels" />
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="apple-touch-icon-precomposed" href="http://i.imgur.com/5nNRs.jpg" />  

</head>
<body>
	<div data-role="page" id="mobile_page">

		<div id="header" data-role="header" data-fullscreen="true" data-fixed="true">
		<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="mobile-header-icon">Home</a>
		<h1><a href="/">Jokels</a><br/><% if is_clean_mode? %>Clean<%end%></h1>
		<% if current_user %>
			<a href="#" data-icon="gear" data-iconpos="notext" id="mobile-menu-signed-in" class="mobile-header-icon" data-clean="<%= is_clean_mode? ? "true" : "false"%>">Menu</a>
		<% else %>
			<a href="#" data-icon="gear" data-iconpos="notext" id="mobile-menu" class="mobile-header-icon" data-clean="<%= is_clean_mode? ? "true" : "false"%>">Menu</a>
		<% end %>
		
			<div data-role="controlgroup" data-type="horizontal" style="text-align:center">
				<a href="/home/add_joke" data-role="button" data-icon="plus" id="mobile-add-joke">Add Joke</a>
				<% if current_user %> 
					<%=link_to "My Profile", current_user, "data-role" => "button"%>
				<% else %>
					<a href="#" data-role="button" id="mobile-signin">Sign In</a>
				<% end %> 
				<a href="/leaderboard" data-role="button">Leaderboards</a>								
			</div>
		</div>

		<div data-role="content" class="wrapper" data-content-theme="c" >
	      <%= yield %>
		</div>
	</div>
	<%= render :partial => "layouts/javascript" %>	
</body>
</html>
