<!DOCTYPE html>
<html>
<head>
  <title>Jokels</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "/stylesheets/smoothness/jquery-ui-1.8.14.custom.css"%>
  <%= javascript_include_tag "/javascripts/jquery.min.js","/javascripts/jquery-ui.min.js","/javascripts/application.js" %>
  <%=javascript_include_tag 'rails'%>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Chewy&v1' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="add-joke"></div>    
  <div class="wrapper">

    <div id="header">
      <div class="left">
        <a href="/"><h1>jokels</h1></a>
      </div>
      <div class="right">
        <%= link_to "+ Add new joke", add_joke_home_path, :method => :get, :remote => true %> | <%= link_to "View all jokes", jokes_path %>
      </div>
    </div>

    <div id="main">  
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>

  <div id="footer">
    <div class="left">
    Jokels is so beta.<br/>
    Check out our <a href="http://twitter.com/jokelscom">Twitter</a> | <a href="https://www.facebook.com/pages/Jokels/180394185353937">Facebook</a>
    </div>
    <div class="right">
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=168063983260429&amp;href=http%3A%2F%2Fjokels.com&amp;send=false&amp;layout=box_count&amp;width=55&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:60px;vertical-align:top" allowTransparency="true"></iframe> 
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://jokels.com" data-text="Jokels!" data-count="vertical" data-via="jokelscom">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
  </div>
  <%- if Rails.env == "production" -%>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2861444-5']);
    _gaq.push(['_setDomainName', 'jokels.com']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <%- elsif Rails.env == "development" %>
    <!-- No analytics in development -->
  <%- end -%>
</body>
</html>
