<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Chewy&v1' rel='stylesheet' type='text/css'>
    <!-- facebook crap -->
    <meta property="og:title" content="<%= nvl(@title,"Jokels") %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= nvl(@fb_url,"www.jokels.com") %>" />
    <meta property="og:image" content="http://i.imgur.com/fF0zz.png" />
    <meta property="og:site_name" content="Jokels" />
    <meta property="fb:admins" content="75400017" />
    <meta name="description" content="<%=@meta_description%>"/>

    <%= auto_discovery_link_tag(:atom, {:controller => "jokes", :action => "feed"}) %>
  </head>

  <body>
    <div id="wrap">
      <%= render :partial => "layouts/header" %>
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>

    <% if Rails.env == "production" %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2861444-5']);
        _gaq.push(['_setDomainName', 'jokels.com']);
        _gaq.push(['_setAllowHash', 'false']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </body>
</html>
